/loan.csv
/loan_data_2007_2014.csv
/code_backup/loan_data_inputs_test.csv
/code_backup/loan_data_inputs_train.csv
/code_backup/loan_data_targets_test.csv
/code_backup/loan_data_targets_train.csv
/code_my/loan_data_inputs_test.csv
/code_my/loan_data_inputs_train.csv
/code_my/loan_data_targets_test.csv
/code_my/loan_data_targets_train.csv

/code_my/.ipynb_checkpoints/CreditRiskModeling-PDModel-WithComments-2-checkpoint.ipynb
/code_my/.ipynb_checkpoints/CreditRiskModeling-Preparation-WithComments-1-checkpoint.ipynb
/code_my/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/code_backup/df_scorecard.csv
/code_backup/inputs_train_with_ref_cat.csv
/code_backup/pd_model.sav
/code_my/.ipynb_checkpoints/PD modeling-checkpoint.ipynb
/code_my/.ipynb_checkpoints/PD_modeling-checkpoint.ipynb
/code_my/df.csv
/code_my/*.csv
/code_backup/*.csv